$theme-colors: (
  'teal-grey': #7b92a2,
  'lighter-tg': #eff2f3,
  'lightest-tg': #dce3e7,
  'darker-tg': #2a3740,
  'typescript': #028fe0,
  'react': #1cddff,
  'html': #ff4d1c,
  'bootstrap': #823deb,
  'tailwind': #3ab9f0,
  'sass': #d973a4,
  'jest': #cf261d,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 850px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@import '~bootstrap/scss/bootstrap.scss';
